body{
    background-color: #CFD0FE;
}

header{
    width: 1555px;
    height: 207px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}


.topo{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 112px;
    margin-right: 122px;
    justify-content: space-between;
}

.DigitalStore{
    margin-left: 5px;
}

.barradepesquisa{
    height: 50px;
    width: 603px;
    left: 414px;
    top: 36px;
    border-radius: 8px;
    background-color: #F5F5F5;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    background-image: url(assets/lupa.png);
    background-position:583px;  
    background-repeat:no-repeat;
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 105px;
    text-decoration: none;
    border-bottom: 1px solid;
}

.botaoentrar{
    height: 43px;
    width: 123px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    background-color: #C92071;
    color:#fff;
    text-decoration: none;
}

.botao_ofertas{
    height: 43px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    background-color: #C92071;
    color:#fff;
    text-decoration: none;
}

.botao_ofertas_a{
    height: 43px;
    width: 200px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
}

nav a{
    text-decoration: none;
}

.Home{
    color: #C92071;
    font-weight: 700;
    border-bottom:  solid;
}

.botaoentrara{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
}

.textointerno{
    text-decoration: none;
    font-family: 'arial';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Inter';
}

.redes-sociais{
    display: flex;
    width: 150px;
    justify-content: space-around;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'arial';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #C92071;
}

.logo2{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'arial';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
}


nav{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 112px;
    font-family: 'arial';
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
}

nav span:first-child{
    color: #C92071;
    font-weight: 700;
    border-bottom: 3px solid;
}


section{
    width: 1555px;
    height: 635px;
    background-color: #F5F5F5;
}

.anuncio1{
    display: flex;
    width: 1555px;
    height: 580px;
    background-color: #F5F5F5;
}

.anuncio{
    display: flex;
    flex-direction: column;
    margin-left: 112px;
    justify-content: center;
}

.textotipo1{
    width: 302px;
    height: 26px;
    font-family: 'arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17.28px;
    line-height: 26px;
    color: #C92071;
}

.textotipo2{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 142.56px;
    font-family: 'arial';
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 71px;
}

.textotipo3{
    margin-bottom: 40px;
    width: 534.6px;
    height: 74px;
    font-family: 'arial';
    font-style: normal;
    font-weight: 400;
    font-size: 19.44px;
    line-height: 37px;
    letter-spacing: 0.9px;
}

.texto_footer{
    text-decoration: none;
    color: #fff;
    font-size: 200;
}

.divtenis{
    display: flex;
    margin-left: -200px;
}   

.pontinhos{
    margin-left: 20px;
    margin-top: 80px;
    margin-right: 40px;
}


.input{
    display: flex;
    justify-content: center;
}

footer{
    width: 1555px;
    display: flex;
    height: 450px;
    background-color: #1F1F1F;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.footern1_01{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.footern2_01{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footern2_02{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.footern2_03{
    width: 30%;
    margin-left: 80px;
}

.foortern1_02{
    display: flex;
    justify-content: center;
    align-items: center;
}


input[class="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:#C92071;
    content: '';
    display: inline-block;
}

h3{
    font-weight: 100;
}

hr{
    margin: 10px 50px 10px 50px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
}